:root{
    --color-white: #f6f2ef;
    --color-black: #1f1f1f;

    --color-grey-0: #d3ccc4;
    --color-grey-1: #ddd9d4;

    --color-pink-0: #f18dfc;
    --color-pink-1: #f2b1ff;
    --color-pink-2: #df6cd9;

    --color-blue-0: #8080ff;
    --color-blue-1: #cdcdff;
    --color-blue-2: #afaffc;
    --color-blue-3: #6363d6;
    --color-blue-4: #4f4fb8;
}

* {
    box-sizing: border-box;
}

html {
    background-color: var(--color-white);
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

img{
    max-width: 100%;
}