:root {
    --themeblack: #383d3b;
    --themewhite: white;
    --themewhite2: #f3f0eb;
    --theme0: #a37666;
    --theme1: #e6bd8b;
    --theme2: #f1d9b9;
    --theme3: #c1a381;
    --accent1: #e595f0;
    --accent0: #be6fff;
    --accent2: #32a852;
    --accent3: #2191fb;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}