:root{
    --color-white: #f6f2ef;
    --color-black: #1f1f1f;
    
    --color-slate-0: #768998;
    --color-slate-1: #D4D9DD;
    --color-slate-2: #A1ADB7;
    --color-slate-3: #546D81;
    --color-slate-4: #38556C;
    
    --color-green-0: #8FBD8F;
    --color-green-1: #E1ECE1;
    --color-green-2: #BBD7BB;
    --color-green-3: #65A065;
    --color-green-4: #418641;
    
    --color-red-0: #ECB3B3;
    --color-red-1: #FFF3F3;
    --color-red-2: #FFDEDE;
    --color-red-3: #C87E7E;
    --color-red-4: #A75151;
    
    --color-tan-0: #ECD4B3;
    --color-tan-1: #FFFAF3;
    --color-tan-2: #FFF1DE;
    --color-tan-3: #C8A87E;
    --color-tan-4: #A78251;

    --color-pink-0: #f45ddb;

    --color-blue-0: #747ced;
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

img{
    max-width: 100%;
}