:root {
    --blog-card-size: 12rem;
}

.blog-card-container {
    margin: 0;
    display: flex;
    flex-flow: row wrap;
    gap: 1rem;
    justify-content: center;
}

.blog-card-image, .blog-card-text {
    transition: 200ms;
    display: block;
    margin: 0;
    border-radius: 10px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.4);

}

.blog-card-image:hover, .blog-card-text:hover {
    transform: translate(0, -3px);
    // box-shadow: 0 8px 13px rgba(0, 0, 0, 0.5);
}

.blog-card-image:focus, .blog-card-text:focus {
    transition: 50ms;
    transform: none;
}



.blog-card-text {
    text-decoration: none;
    width: var(--blog-card-size);
    height: var(--blog-card-size);
    flex-grow: 3;
    background: var(--background-0);
    padding:1rem;
    color: black;
    overflow: hidden;
    position: relative;
}




.blog-card-text > h3 {
    margin-top: 0;
}

.blog-card-image {
    display: flex;
    position: relative;
    flex-grow: 1;
    overflow: hidden;
    text-decoration: none;
    height: var(--blog-card-size);
    width: auto;
}

.blog-card-image > img {
    height: 100%;
    flex-grow: 1;
    object-fit: cover;
    object-position: center;
}


.shadow-caption {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin: 0;
    text-align: center;
    background: linear-gradient(transparent, black);
    color: var(--background-0);
    font-weight: 200;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    padding:1rem 0.5rem 0.5rem 0.5rem
}

@media screen and (min-width: 1001px) {
    .blog-card-text::after {
        content: "";
        display: block;
        position: absolute;
        inset: 0;
        background-color: transparent;
        box-shadow: inset 0 -1rem 1rem var(--background-0);
    }
}

@media screen and (max-width: 1000px) {
    :root {
        --blog-card-size: 180px;
    }
    .shadow-caption {
        font-size: 1.563rem;
    }

    .blog-card-text > p {
        position: absolute;
        display: none;
    }

    .blog-card-text {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--background-2);
    }

    .blog-card-text > h3 {
        text-align: center;
    }
}

@media screen and (max-width: 600px) {
    :root {
        --blog-card-size: 120px;
    }

    .blog-card-text > h3 {
        font-size: 1.563rem;
    }
}

@media screen and (max-width: 360px) {
    :root {
        --blog-card-size: 100px;
    }
    .shadow-caption {
        display: none;
    }
}