.svg-divider{
    display: block;
    width: 100vw;
}

.svg-divider-white {
    fill: var(--color-white);
}

.svg-divider-slate {
    fill: var(--color-slate-3);
}

.svg-divider-red {
    fill: var(--color-red-3);
}

.svg-divider-tan {
    fill: var(--color-tan-0);
}
