.hero-image {
    display: flex;
    background-image: url(/assets/images/gridgallery/vivec.jpg);
    background-size: cover;
    background-position:center;
    align-items: center;
    justify-content: center;
    height: 30rem;
}

.hero-text {
    margin: 30px;
    color: var(--themewhite);
    font-family: 'Righteous', sans-serif;
    font-size: 3rem;
    font-weight: 600;
    text-align: center;
    text-shadow: 0 0 5px black;
}