.hero-image {
    display: flex;
    background-image: url(/assets/images/gridgallery/vivec.jpg);
    background-size: cover;
    background-position: center;
    align-items: center;
    justify-content: center;
}

.hero-text {
    margin: 30px;
    color: var(--themewhite);
    text-shadow: 0 0 5px black;
}