
.line {
    height: 10px;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    background-color: var(--theme0);
    color: var(--themewhite);
    font-family: 'Oswald', sans-serif;
    font-size: 1.4rem;
    font-weight: bold;
    text-transform: uppercase;
    box-shadow: 0 0 10px black;
}

footer {
    width:100%;
    background-color: var(--theme0);
    color: var(--themewhite);
    font-family: 'Oswald', sans-serif;
    font-size: 1.4rem;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    box-shadow: 0 0 10px black;
    padding:10px;
}

.headerlogo {
    padding: 5px;
    font-size: 32px;
    margin-left: 10px;
    color:var(--themewhite);
    text-decoration: none;
}

.navbar {
    margin: 5px;
    margin-left: auto;
    margin-right: 10px;
}

.navbar a {
    display: inline-block;
    margin-left: 10px;
    padding: 5px 10px;
    background-color: var(--theme0);
    color: var(--themewhite);
    text-decoration: none;
}

.navbar a.currentlink{
    color:var(--theme2);
}

section {
    padding-inline: max(5rem,calc(50% - 50rem));
    padding-block: 1rem;
}

.sidebar {
    font-size: 0.9em;
    padding: 30px;
}