header {
    background-color: var(--color-slate-0);
    color: var(--color-slate-1);
    text-transform: uppercase;
    font-size: 4.21rem;
    font-weight: 500;
    padding: 1rem;
    text-align: center;
}

nav {
    position: sticky;
    top: 0;
    display: flex;

    z-index: 1;
    height: auto;
    background: var(--color-white);
    margin-inline: 5%;
    border-inline: 8px solid var(--color-tan-3);
    border-bottom: 6px solid var(--color-tan-3);
    box-shadow: 0 3px 6px rgba($color: black, $alpha: 0.5);
    border-radius: 0 0 10px 10px;
}

.nav-link-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

nav a {
    font-size: 1.5rem;
    color: var(--color-red-4);
    font-weight: 500;
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
    text-decoration: none;
    display: block;
}

nav a.current-link {
    background: var(--color-red-4);
    color: var(--color-white);
}

section {
    padding: 20px;
}

.clamped-width {
    max-width:60rem;
    margin-inline: auto;
}

img.image-big , img.image-inside {
    display: block;
    height: 100%;
    margin: 1rem;
    border: 3px solid var(--color-slate-3);
}

img.image-big {
    max-width: 80%;
    margin-inline: auto;
}

img.image-inside {
    float: left;
    max-width: 100%;
}

blockquote {
    font-style: italic;
}

.flex-container {
    display: flex;
    width: 100%;
    flex-direction: row;
}

@media only screen and (max-width: 50rem) {
    .flex-container {
        flex-direction: column;
    }
}

.flex-card {
    padding: 1rem;
    flex-grow: 1;
}

.button {
    display: block;
    margin: auto;
    padding:15px;
    border: none;
    font-family: Lexend, sans-serif;
    background-color: var(--color-pink-0);
    font-size: 1.333rem;
    border-radius: 20px;
}

.button-link {
    display: block;
    width: max-content;
    margin: auto;
    padding:10px;
    border: none;
    font-family: Lexend, sans-serif;
    background-color: var(--color-pink-0);
    font-size: 1.333rem;
    border-radius: 10px;
    text-decoration: none;
    color: var(--color-black);
}

footer {
    padding: 1rem;
}

.text-gradient {
    background-image: linear-gradient(to right, var(--color-blue-0), var(--color-pink-0));
    background-clip: text;
    color: transparent;
}