:root {

    --pad-l: 5rem ;
    --pad-m: 2rem;
    --pad-s: 1rem;

    /* --text: #041615;
    --background: #e1faf8;
    --primary: #74b3e7;
    --secondary: #f4c2c5;
    --accent: #c76d23; */

    /* --text: #100905;
    --background: #f3e2d8;
    --primary: #1d4862;
    --secondary: #c0b6e4;
    --accent: #0053ac; */

    /* --text: #201803;
    --background: #fcf4df;
    --primary: #13be8e;
    --secondary: #f9e8be;
    --accent: #9f15d5; */

    /* --text: #080702;
    --background: #fbf9ef;
    --primary: #7dd99a;
    --secondary: #d2cfb8;
    --accent: #2a3d70; */

    --text: #0c0b09;
    --background: #f4f4f0;
    --primary: #bcbecd;
    --secondary: #dcdbd0;
    --accent: #606480;

    --primary-text: var(--text-0);
    --accent-text: var(--background-0);

    --text-0: var(--text);
    --background-0: var(--background);
    --primary-0: var(--primary);
    --secondary-0: var(--secondary);
    --accent-0: var(--accent);

    --background-2: color-mix(in srgb, var(--background-0), #000 10%);

    --primary-1: color-mix(in srgb, var(--primary-0), #000 50%);
    --primary-2: color-mix(in srgb, var(--primary-0), #000 30%);
    --primary-3: color-mix(in srgb, var(--primary-0), #fff 30%);
    --primary-4: color-mix(in srgb, var(--primary-0), #fff 90%);

    --accent-1: color-mix(in srgb, var(--accent-0), #000 60%);
    --accent-2: color-mix(in srgb, var(--accent-0), #000 30%);
    --accent-3: color-mix(in srgb, var(--accent-0), #fff 10%);
    --accent-4: color-mix(in srgb, var(--accent-0), #fff 55%);
}

@media screen and (max-width: 600px) {
    :root {
        --pad-l: 2rem ;
        --pad-m: 1rem;
        --pad-s: 1rem;
    }

    html {
        font-size: 0.64rem;
    }
}

@media screen and (max-width: 360px) {
    :root {
        --pad-l: 1rem ;
    }

    html {
        font-size: 0.64rem;
    }
}
header {
    display: flex;
    flex-flow: row;
    background-color: var(--primary-0);
}

nav {
    background-color: var(--background-0);
    width: 100%;
}

main {
    background-color: var(--background-0);
}

article {
    background-color: var(--background-0);
    margin: 0 var(--pad-l);
    padding-block: var(--pad-s);
}

article>* {
    margin-inline: var(--pad-m);
}

img {
    max-width: 100%;
}

code {
    font-family: "fira code";
}

.logo {
    line-height: 0;
}

button {
    padding: 1rem;
    width: fit-content;
    font-family: "Space Mono";
    font-size: 1.25em;
    margin: var(--pad-s);
    text-align: center;
    border: none;
    border-radius: 10px;
}

.button-primary {
    background-color: var(--primary-0);
}

.button-secondary {
    background-color: var(--secondary-0);
}

.bubble-primary {
    --clr: var(--primary-0);
    --l: var(--primary-3);
    --ll: var(--primary-4);
    --d: var(--primary-2);
}

.bubble-accent {
    --clr: var(--accent-0);
    --l: var(--accent-3);
    --ll: var(--accent-4);
    --d: var(--accent-2);
}

.bubble {
    border-radius: 1.5rem;
    border: 3px solid var(--clr);
    box-shadow:
        inset 0 0 15px var(--clr),
        inset 15px 15px 20px -5px var(--ll),
        inset -5px -5px 30px -5px var(--d);
    padding: var(--pad-m);
    background: linear-gradient(var(--ll) 0%,
            var(--l) 10%,
            var(--clr) 20%,
            var(--clr) 50%,
            var(--l) 70%,
            var(--clr) 85%,
            var(--d) 100%);
}

.bubble-heading {
    margin-top: 0;
}

.anti-bubble {
    padding: var(--pad-m);
}

.padded-content {
    padding: var(--pad-l);
}

.padded-content * {
    /* border: 5px dashed crimson; */
}


.nice-list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    gap: var(--pad-s);
    align-items: flex-start;
}

.nice-list>li {
    margin-left: 2rem;
    width: 20rem;
    flex-grow: 1;
    border-left: 5px solid rgba(0, 0, 0, 0.3);
    /* border-left: 5px solid var(--accent-0); */
    padding-left: 1rem;
}

.nice-list>li::marker {
    font-size: 1.953rem;
    /* h3 sizing */
    color: var(--accent-0);
    display: block;
    float: left;
}

.flex-adapt {
    display: flex;
    flex-flow: row;
    align-items: center;
}

.flex-card {
    padding: var(--pad-m);
}

.flex-adapt-image {
    max-width: 50%;
}

.bento-box {
    display: grid;
    grid-template-columns: 3fr 2fr 1fr;
    gap: var(--pad-m);
    // font-size: 1.25em;
}

.bento-box>* {
    border-radius: 1rem;
    padding: var(--pad-m);
}

@media all and (max-width: 50rem) {
    .flex-adapt {
        flex-direction: column;
    }

    .flex-adapt-image {
        max-width: 100%;
    }
}

.gallery {
    display: flex;
    flex-flow: row wrap;
    list-style-type: none;
    gap: var(--pad-s);
    margin: 0;
    padding: 0;
}

.galleryCard {
    height: 10rem;
    flex: content 1;
    background: var(--background-2);
    padding: 2rem;
}