:root {
    --tilt:5deg;
    --tilt-inverse:calc(-1*var(--tilt));
}

.tiltright, .tiltleft{
    height:30rem;
    margin-block: 4.5vw;
    background-color: var(--themewhite2);
    overflow: hidden;
    box-shadow: 3px 2px 5px rgba($color: #000000, $alpha: 1);
}

.tiltleft{transform: skewY(var(--tilt-inverse));}
.tiltright{transform: skewY(var(--tilt));}



.untiltleft, .untiltright{
    padding-block: 4.5vw;
}

.untiltleft > * {
    transform: skewY(var(--tilt));
}
.untiltright > *{
    transform: skewY(var(--tilt-inverse));
}


div.untiltleft, div.untiltright{
    padding-block: max(4.5vw, 2rem);
    padding-inline: 2rem;
    width: 200px;
    flex-basis: 0;
    flex-grow: 1;
}



.tiltleft>img, .tiltright>img{
    object-fit: cover;
    background-position: center;
    background-attachment: local;
    height: calc(100% + 9vw);
    margin-block: -4.5vw;
    width: 200px;
    flex-basis: 0;
    flex-grow: 2;
}

.tiltleft>img{
    transform: skewY(var(--tilt));
}

.tiltright>img{
    transform: skewY(var(--tilt-inverse));
}