---
---

<!DOCTYPE html>
<html>

<head>
    <title>{{page.title}}</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link
        href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=Jost:wght@200;300;400&family=Quicksand:wght@300;400;500&family=Share+Tech+Mono&family=Ubuntu:wght@300;400&display=swap"
        rel="stylesheet">

    <link
        href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Righteous&family=Roboto+Slab:wght@100;200;300;400;500;700&family=Fredoka:wght@300;400;500&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="/assets/css/styles.css">
</head>

<body>
    {% include navigation.html %}
    {{content}}

    <div class="line sndstn2"></div>
</body>

</html>